/** @format */

:root {
  /* Colors */
  --primary: #141215;
  --button: #ffb03c;
  --text-2: #141215;
  --text: #ffffff;
  --seconday: #1f1e1f;
  --primary-default: #0368ff;
  --message-modal: #3c384d;
  --buy-card-background: #1f1e1f;
  /* Font face, sizes and weights */
  --typography-1: 'Montserrat', sans-serif;
  --typography-2: 'Lato', sans-serif;
  --navbar-font-size: 24px;
  --navbar-font-weight: 400;
  --large-title-font-size: 48px;
  --large-title-font-weight: 700;
  --h1-heading-font-size: 38px;
  --h1-heading-font-weight: 400;
  --h2-heading-font-size: 28px;
  --h2-heading-font-weight: 400;
  --h3-heading-font-size: 20px;
  --h3-heading-font-weight: 500;
  --body-1-default-font-size: 16px;
  --body-1-default-font-weight: 400;
  --body-1-bold-font-weight: 700;
  --body-1-italic-font-style: italic;
  --button-default-font-size: 16px;
  --button-default-font-weight: 700;
  --basic-button-font-size: 16px;
  --basic-button-font-weight: 400;
  --body-2-default-font-size: 12px;
  --body-2-default-font-weight: 400;
  --caption-default-font-size: 12px;
  --caption-default-font-weight: 400;
  --caption-bold-font-weight: 700;
  --caption-italic-font-style: italic;
  --assistive-text-default-font-size: 10px;
  --assistive-text-default-font-weight: 400;
  --assistive-text-bold-font-weight: 700;
  --assistive-text-italic-font-style: italic;
  /* Common styles */
  --tertiary-button-border: 1px;
  --button-primary-border: 1px;
  --button-secondary-border: 1px;
  --low-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.18);
  --middle-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.32);
  --high-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.48);
  --extra-high-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.64);
  --container-padding: 24px 16px 24px 16px;
}

/*Background*/

body {
  background-color: var(--primary);
  font-family: var(--typography-1);
  margin: 0 auto;
}

/*Navbar*/
header {
  border-bottom: 1px solid var(--text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--primary);
  padding: 0 40px;
}

.navbar a {
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--navbar-font-size);
  font-weight: var(--navbar-font-weight);
}

.navbar a:first-child {
  margin-left: 40px;
}

.navbar a {
  margin-right: 90px;
}

.navbar .option:hover {
  background-color: var(--button);
  color: var(--buy-card-background);
  border-radius: 5px;
}

.navbar .option.active {
  background-color: var(--message-modal);
  color: var(--text);
}

.navbar .icon-navbar {
  display: none;
}

.navbar-image {
  width: 32px;
}

/*secondary-hero*/

.secondary-hero {
  display: flex;
  align-items: center;
  font-family: var(--typography-1);
  width: 100%;
  height: 382px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.secondary-hero::before {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/store/softawes-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.secondary-hero-content {
  flex: 1;
  text-align: left;
  position: relative;
  z-index: 1;
}

.secondary-hero h3 {
  font-size: var(--large-title-font-size);
  font-weight: var(--large-title-font-weight);
  color: var(--text);
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  line-height: 59px;
  margin-left: 120px;
}

.secondary-hero p {
  font-size: var(--h3-heading-font-size);
  font-weight: var(--h2-heading-font-weight);
  color: var(--text);
  letter-spacing: 0em;
  text-align: left;
  margin-left: 120px;
  text-transform: capitalize;
  line-height: 24px;
}

.btn {
  display: inline-block;
  color: var(--primary);
  background-color: var(--button);
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 183px;
  height: 72px;
  padding: 24px 10px 24px 10px;
  border-radius: 12px;
  gap: 16px;
  box-shadow: 2px 4px 20px 0px #d6c21166;
  margin: 15px 0px 80px 120px;
}

.btn-text {
  font-family: var(--typography-1);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #cf8b24;
}

.arrows {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrows span {
  font-size: 40px;
  color: #fff;
  margin: 20px;
}

/*Main*/

.our-softwares {
  margin: 30px 120px 40px 120px;
}

.our-softwares-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-softwares-h {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text);
}

.our-softwares-ps {
  display: flex;
  align-items: center;
}

.our-softwares-p {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--text);
}

.our-softwares-p-of {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--button);
}

.our-softwares-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px 0px;
  flex-wrap: wrap;
}

.our-softwares-container-3,
.our-softwares-container-1,
.our-softwares-container-2 {
  margin-right: 20px;
}

.our-softwares-container,
.our-softwares-container-3,
.our-softwares-container-1,
.our-softwares-container-2,
.our-softwares-container-4 {
  flex: 1;
  text-align: center;
  background-color: var(--buy-card-background);
  width: 283px;
  height: 260px;
  padding: 24px;
  border-radius: 16px;
  gap: 24px;
}

.our-softwares-row:last-child .our-softwares-container-4 {
  flex: 0 0 calc(25% - 20px);
}

.icon-style {
  font-size: 55px;
  margin-bottom: 10px;
  width: 41.666664123535156px;
  height: 41.666664123535156px;
  top: 4.166656494140625px;
  left: 4.1666259765625px;
  color: var(--text);
}

.our-softwares-row h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text);
}

.our-softwares-row p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text);
}

.icon-style-match {
  width: 37.5px;
  height: 37.5px;
  top: 6.25px;
  left: 6.25px;
  font-size: 55px;
}

.our-softwares-btn {
  color: var(--button);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  width: 235px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  border-radius: 12px;
  border: solid 2px var(--button);
  gap: 16px;
  margin: 5px;
}

.our-softwares-btn-text {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 24px;
}

.our-softwares-btn:hover {
  background-color: #cf8b24;
  color: var(--primary);
}

.btn-buy {
  margin: 80px 0px 80px 120px;
}

.btn-buy-do {
  color: var(--primary);
  background-color: var(--button);
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 2px 4px 20px 0px #d6c21166;
  margin: 10px 0px 80px 20px;
  width: 284px;
  height: 64px;
  padding: 20px 60px 20px 60px;
  border-radius: 12px;
  border: 1px;
  gap: 16px;
  text-align: center;
}

.btn-buy-not-do {
  color: var(--text);
  background-color: transparent;
  border: 1px solid var(--text);
  cursor: pointer;
  text-decoration: none;
  margin: 10px 0px 80px 0px;
  width: 284px;
  height: 64px;
  padding: 20px 100px 20px 100px;
  border-radius: 12px;
  gap: 16px;
  text-align: center;
}

.btn-buy-text {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

/* product section*/

.product {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 40px 0px 0px 0px;
}

.product-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: var(--text);
  padding: 20px 20px 20px 20px;
  border-radius: 20px 20px 0px 0px;
}

.product-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--buy-card-background);
  padding: 20px 20px 20px 20px;
  gap: 20px;
}

.product-header .material-symbols-outlined {
  font-size: 55px;
  font-weight: 600;
}

.product-header-text {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.product-cell {
  padding: 4px;
  color: var(--text);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.product-cell-1 {
  padding: 4px;
  color: var(--text);
  font-size: 24px;
  font-weight: var(--body-1-default-font-weight);
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.product-cell-2 {
  padding: 4px;
  color: var(--text);
  font-size: 24px;
  font-weight: var(--body-1-bold-font-weight);
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.product-cell-3 {
  padding: 4px;
  color: var(--button);
  font-size: 24px;
  font-weight: var(--body-1-bold-font-weight);
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.border-radius-bottom {
  border-radius: 0px 0px 20px 20px;
}

.border-top {
  border-top: 1px solid var(--text);
}

/*Footer*/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--buy-card-background);
  padding: 2%;
}

.footer-img {
  margin: 1%;
}

.footer-img img {
  width: 42.985076904296875px;
  height: 40px;
}

.footer-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: var(--text);
  font-size: 20px;
  font-weight: var(--body-1-default-font-weight);
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1%;
}

.footer-options a {
  text-decoration: none;
  color: var(--text);
}

.footer-option {
  margin: 0 10px;
}

.footer-rights {
  text-align: center;
  color: var(--text);
  background-color: var(--buy-card-background);
  padding: 2%;
  border-top: 1px solid var(--text);
}

/*Media queries to make the page responsive*/

@media screen and (max-width: 768px) {
  .navbar a:not(.icon-navbar) {
    display: none;
  }

  .navbar a.icon-navbar {
    float: none;
    display: block;
    margin: 20px;
    text-align: right;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon-navbar {
    position: relative;
    float: none;
    margin: 10px 20px;
    text-align: right;
  }

  .navbar.responsive a {
    display: block;
    text-align: left;
    margin: 10px 20px;
  }

  .navbar-image {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .secondary-hero {
    flex-direction: column;
    height: auto;
  }

  .secondary-hero h3,
  .secondary-hero p {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
    margin: 10px 10px;
  }

  .btn {
    width: 50%;
    margin: 50px 120px;
  }

  .arrows {
    display: none;
  }

  .our-softwares-container,
  .our-softwares-container-3,
  .our-softwares-container-1,
  .our-softwares-container-2,
  .our-softwares-container-4 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .footer-img {
    margin-bottom: 0;
  }

  .footer-options {
    text-align: left;
    margin-bottom: 0;
  }

  .footer-option {
    display: inline-block;
    margin: 0 15px;
  }

  .footer-rights {
    text-align: right;
  }
}

@media (max-width: 480px) {
  .navbar a:not(.icon-navbar) {
    display: none;
  }

  .navbar a.icon-navbar {
    float: none;
    display: block;
    margin: 20px;
    text-align: right;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon-navbar {
    position: relative;
    float: none;
    margin: 10px 20px;
    text-align: right;
  }

  .navbar.responsive a {
    display: block;
    text-align: left;
    margin: 10px 20px;
  }

  .navbar-image {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .secondary-hero h3 {
    font-size: 24px;
    text-align: center;
  }

  .secondary-hero p {
    font-size: 16px;
    text-align: center;
    margin: 20px 20px;
  }

  .btn {
    width: 50%;
    margin: 50px 90px;
  }

  .arrows {
    display: none;
  }

  .our-softwares {
    margin: 30px 20px 40px 20px;
  }

  .our-softwares-btn {
    width: 85px;
    height: 46px;
    padding: 16px 10px 16px 10px;
    margin: 2px;
  }

  .our-softwares-btn-text {
    font-size: 14px;
    line-height: 14px;
  }

  .our-softwares-container,
  .our-softwares-container-3,
  .our-softwares-container-1,
  .our-softwares-container-2,
  .our-softwares-container-4 {
    width: 100%;
    min-width: max-content;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .our-softwares-h,
  .our-softwares-p,
  .our-softwares-p-of,
  .product-cell,
  .product-cell-1,
  .product-cell-2,
  .product-cell-3,
  .product-header-text {
    font-size: 16px;
    text-align: center;
  }

  .product {
    min-width: max-content;
    align-items: left;
  }

  .responsive-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-buy-do,
  .btn-buy-not-do {
    margin: 10px 0px 10px 0px;
    width: 94px;
    height: 34px;
    padding: 10px 20px 10px 20px;
  }

  .btn-buy-text {
    font-size: 14px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .footer-img {
    margin-bottom: 10px;
  }

  .footer-options {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-option {
    display: flex;
    margin: 5px 5px;
    font-size: 10px;
  }
}
