/** @format */

:root {
  /* Colors */
  --primary: #141215;
  --button: #ffb03c;
  --text-2: #141215;
  --text: #ffffff;
  --seconday: #1f1e1f;
  --primary-default: #0368ff;
  --message-modal: #3c384d;
  --buy-card-background: #1f1e1f;
  /* Font face, sizes and weights */
  --typography-1: 'Montserrat', sans-serif;
  --typography-2: 'Lato', sans-serif;
  --navbar-font-size: 24px;
  --navbar-font-weight: 400;
  --large-title-font-size: 48px;
  --large-title-font-weight: 700;
  --h1-heading-font-size: 38px;
  --h1-heading-font-weight: 400;
  --h2-heading-font-size: 28px;
  --h2-heading-font-weight: 400;
  --h3-heading-font-size: 20px;
  --h3-heading-font-weight: 500;
  --body-1-default-font-size: 16px;
  --body-1-default-font-weight: 400;
  --body-1-bold-font-weight: 700;
  --body-1-italic-font-style: italic;
  --button-default-font-size: 16px;
  --button-default-font-weight: 700;
  --basic-button-font-size: 16px;
  --basic-button-font-weight: 400;
  --body-2-default-font-size: 12px;
  --body-2-default-font-weight: 400;
  --caption-default-font-size: 12px;
  --caption-default-font-weight: 400;
  --caption-bold-font-weight: 700;
  --caption-italic-font-style: italic;
  --assistive-text-default-font-size: 10px;
  --assistive-text-default-font-weight: 400;
  --assistive-text-bold-font-weight: 700;
  --assistive-text-italic-font-style: italic;
  /* Common styles */
  --tertiary-button-border: 1px;
  --button-primary-border: 1px;
  --button-secondary-border: 1px;
  --low-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.18);
  --middle-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.32);
  --high-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.48);
  --extra-high-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.64);
  --container-padding: 24px 16px 24px 16px;
}

/*Media queries to make the page responsive*/

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon-navbar {
    float: right;
    display: block;
    color: var(--text);
    cursor: pointer;
    position: relative;
    right: 0;
    top: 0;
    font-size: var(--navbar-font-size);
  }

  .navbar.responsive a.icon-navbar {
    position: absolute;
    right: 0;
    top: 0;
    font-size: var(--navbar-font-size);
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Background*/

body {
  background-color: var(--primary);
  font-family: var(--typography-1);
  margin: 0 auto;
}

/*Navbar*/

header {
  border-bottom: 1px solid var(--text);
}

.navbar {
  background-color: var(--primary);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 20px 20px;
  margin: 0px 40px 0px 40px;
}

.navbar a {
  color: var(--text);
  padding: 0px 10px;
  text-decoration: none;
  font-size: var(--navbar-font-size);
  font-weight: var(--navbar-font-weight);
  text-transform: capitalize;
}

.navbar a:hover {
  color: var(--button);
}

.navbar a.active {
  font-weight: bold;
}

.bold-link {
  font-weight: bold;
}

.navbar-image {
  width: 72px;
  margin: 0px;
  padding: 0 auto;
}

.navbar .icon-navbar {
  display: none;
}

/*secondary-hero*/

.secondary-hero {
  display: flex;
  align-items: center;
  font-family: var(--typography-1);
  width: 100%;
  height: 382px;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.secondary-hero::before {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/store/softawes-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.secondary-hero-content {
  flex: 1;
  text-align: left;
  position: relative;
  z-index: 1;
}

.secondary-hero h3 {
  font-size: var(--large-title-font-size);
  font-weight: var(--large-title-font-weight);
  color: var(--text);
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  line-height: 59px;
  margin-left: 120px;
}

.secondary-hero p {
  font-size: var(--h3-heading-font-size);
  font-weight: var(--h2-heading-font-weight);
  color: var(--text);
  letter-spacing: 0em;
  text-align: left;
  margin-left: 120px;
  text-transform: capitalize;
  line-height: 24px;
}

.btn {
  display: inline-block;
  color: var(--primary);
  background-color: var(--button);
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 183px;
  height: 72px;
  padding: 24px 10px 24px 10px;
  border-radius: 12px;
  gap: 16px;
  box-shadow: 2px 4px 20px 0px #d6c21166;
  margin: 15px 0px 80px 120px;
}

.btn-text {
  font-family: var(--typography-1);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #cf8b24;
}

.arrows {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrows span {
  font-size: 40px;
  color: #fff;
  margin: 20px;
}

/*Footer*/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-img img {
  width: 42.985076904296875px;
  height: 40px;
}

.footer-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: #fff;
}

.footer-option {
  margin: 0 10px;
}

.footer-rights {
  text-align: center;
}
