/** @format */

:root {
  /* Colors */
  --primary: #0a0909;
  --button: #ffb03c;
  --text-2: #141215;
  --text: #ffffff;
  --seconday: #1f1e1f;
  --primary-default: #0368ff;
  --message-modal: #3c384d;
  --buy-card-background: #1f1e1f;
  /* Font face, sizes and weights */
  --typography-1: 'Montserrat', sans-serif;
  --typography-2: 'Lato', sans-serif;
  --navbar-font-size: 24px;
  --navbar-font-weight: 400;
  --large-title-font-size: 48px;
  --large-title-font-weight: 700;
  --h1-heading-font-size: 38px;
  --h1-heading-font-weight: 400;
  --h2-heading-font-size: 28px;
  --h2-heading-font-weight: 400;
  --h3-heading-font-size: 20px;
  --h3-heading-font-weight: 500;
  --body-1-default-font-size: 16px;
  --body-1-default-font-weight: 400;
  --body-1-bold-font-weight: 700;
  --body-1-italic-font-style: italic;
  --button-default-font-size: 16px;
  --button-default-font-weight: 700;
  --basic-button-font-size: 16px;
  --basic-button-font-weight: 400;
  --body-2-default-font-size: 12px;
  --body-2-default-font-weight: 400;
  --caption-default-font-size: 12px;
  --caption-default-font-weight: 400;
  --caption-bold-font-weight: 700;
  --caption-italic-font-style: italic;
  --assistive-text-default-font-size: 10px;
  --assistive-text-default-font-weight: 400;
  --assistive-text-bold-font-weight: 700;
  --assistive-text-italic-font-style: italic;
  /* Common styles */
  --tertiary-button-border: 1px;
  --button-primary-border: 1px;
  --button-secondary-border: 1px;
  --low-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.18);
  --middle-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.32);
  --high-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.48);
  --extra-high-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.64);
  --container-padding: 24px 16px 24px 16px;
}

/*Background*/

body {
  background-color: var(--primary);
  font-family: var(--typography-1);
  margin: 0 auto;
}

/*Navbar*/

header {
  border-bottom: 1px solid var(--text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--primary);
  padding: 0 40px;
}

.navbar a {
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--navbar-font-size);
  font-weight: var(--navbar-font-weight);
}

.navbar a:first-child {
  margin-left: 40px;
}

.navbar a {
  margin-right: 90px;
}

.navbar .option:hover {
  background-color: var(--button);
  color: var(--buy-card-background);
  border-radius: 5px;
}

.navbar .option.active {
  background-color: var(--message-modal);
  color: var(--text);
}

.navbar .icon-navbar {
  display: none;
}

.navbar-image {
  width: 32px;
}

/*hero*/

.hero {
  font-family: var(--typography-1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/home/3D-Computer-2-1.png');
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  position: relative;
}

.hero h2 {
  font-size: var(--h2-heading-font-size);
  font-weight: var(--h2-heading-font-weight);
  color: var(--text);
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
}

.hero h1 {
  font-size: var(--large-title-font-size);
  font-weight: var(--large-title-font-weight);
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 0em;
  text-align: center;
  line-height: 0px;
}

.btn {
  display: inline-block;
  color: var(--primary);
  background-color: var(--button);
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 476px;
  height: 80px;
  padding: 14px 10px 10px 20px;
  border-radius: 12px;
  gap: 16px;
  box-shadow: 2px 4px 20px 0px #d6c21166;
}

.btn-text {
  font-family: var(--typography-1);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #cf8b24;
}

.icon-link-store {
  margin-left: 5px;
  font-size: 24px;
  width: 50px;
  height: 32px;
}

.boxes {
  top: 1099px;
  left: -1px;
  padding: 29px 60px;
  border-radius: 60px 60px 0px 0px;
  background-color: var(--buy-card-background);
}

.boxes-row {
  display: flex;
  justify-content: space-between;
}

.boxes-container {
  width: Fixed (283px);
  height: Fixed (342px);
  padding: var(--container-padding);
  border-radius: 16px;
  gap: 20px;
  box-shadow: var(--high-shadow);
  background: var(--primary);
  color: var(--text);
  flex: 1;
  padding: 20px;
  margin: 0.5%;
  text-align: center;
}

.boxes-container h5 {
  font-size: 24px;
  font-weight: var(--body-1-bold-font-weight);
  line-height: 29.26px;
}

.boxes-container p {
  font-size: var(--body-1-default-font-size);
  font-weight: var(--body-1-default-font-weight);
  line-height: 19.5px;
}

.icon {
  font-size: 135px;
  gap: 20px;
  color: #a18009;
}

.svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40;
  left: 0;
  pointer-events: none;
}

.svg-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: auto;
}

/*Media queries to make the page responsive*/

@media screen and (max-width: 768px) {
  .navbar a:not(.icon-navbar) {
    display: none;
  }

  .navbar a.icon-navbar {
    float: none;
    display: block;
    margin: 20px;
    text-align: right;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon-navbar {
    position: relative;
    float: none;
    margin: 10px 20px;
    text-align: right;
  }

  .navbar.responsive a {
    display: block;
    text-align: left;
    margin: 10px 20px;
  }

  .navbar-image {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  /*Main*/

  .hero {
    padding: 159px 20px 15px 20px;
  }

  .hero::before {
    width: 100%;
    height: 50%;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero h1 {
    font-size: 30px;
  }

  .btn {
    width: 80%;
    height: auto;
    padding: 10px 5px;
    border-radius: 5px;
  }

  .btn-text {
    font-size: 14px;
  }

  .icon-link-store {
    font-size: 14px;
    width: auto;
    height: auto;
  }

  /*Footer*/

  .boxes {
    top: auto;
    padding: 20px 60px;
    border-radius: 0;
  }

  .boxes-row {
    flex-direction: column;
    gap: 20px;
  }

  .boxes-container {
    height: auto;
    margin: 20px;
  }

  .icon {
    font-size: 55px;
    margin-bottom: 10px;
  }

  .boxes-container h5 {
    font-size: 20px;
  }

  .boxes-container p {
    font-size: 14px;
  }
}
